<div>
  <div class="col-md-4 offset-md-4">
    <h2 class="text-center">New room</h2>
    <%= form_with(model: @room, local: true) do |f| %>
      <div class="form-group">
        <label>YourName</label>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <label>Title</label>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="text-center">
        <%= f.submit "save", class: "btn btn-primary" %>
      </div>
    <% end %>  
  </div>
</div>