// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


*{
  box-sizing: border-box;
}
body{
  margin: 0;
  text-align: center;
}
.max{
  max-width: 1170px;
  margin: 0 auto;
}
.bottmpad{
  padding-bottom: 100px;
}
.clear{
  clear: both;
}
ul{
  padding:0;
}
.with45set{
  width:30%;
}
.green-blue{
  background-color:#28a76d47;
}
.color-skyblue{
  background-color:#007bff4f;
}
.blue{
  background-color:#64acfb;
}

a{
  text-decoration: none;
  // color: black;
}
.parent{
  position: relative;
}
.child{
  position: absolute;
  right: 0;
  bottom: 0;
}

// 検索boxのcss
.formboxcss{
  outline:0;/*クリック時の青い枠線消す*/	
  padding:0 10px;/*テキスト位置調整*/	 
  border-radius:5px 5px 5px 5px;/*検索ボックスの角を丸める*/		
  background:#eee;/*検索ボックスの背景カラー*/		
}
.formbtmcss{
  top:0;
  border-radius:4px 4px 4px 4px;/*検索ボタンの角を丸める*/ 
  background:#7fbfff;/*検索ボタンの背景カラー*/ 
  border:none;/*検索ボタンの枠線を消す*/ 
  color:#fff;/*検索ボタンのテキストカラー*/ 
  font-weight:bold;/*検索ボタンのテキスト太字*/ 
  font-size:16px;/*検索ボタンのフォントサイズ*/ 
}
#formbtmcss:hover{
  color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
  }
